body {
  background-image: url("../images/img.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  padding: 0px;
  margin: 0px;

  /* font-size: large; */
  /* color: rgb(249, 251, 253); */
}
html {
  padding: 0px;
  margin: 0px;
}
html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
#category {
  height: 35px;
  width: 100%;
  color: black;
  font-size: x-large;
}
textarea {
  /* color: white; */
  width: 100%;
  font-size: x-large;
}

.nav {
  background-color: #f7f7f7;
  opacity: 0.9;
  height: 60px;
  margin: 0px;
  box-shadow: 0px 2px 10px 0px black;
  box-sizing: border-box;
}
.bar {
  padding-top: 12.5px;
  padding-left: 20px;
}
.previous {
  padding: 0px;
  background-color: black;
  color: white;
  text-decoration: none;
  float: left;
  width: 35px;
  height: 35px;
  font-size: 28px;
  font-weight: bold;
  vertical-align: auto;
  text-align: center;
}
.previous :hover {
  background-color: red;
}
.tname {
  font-size: 30px;
  font-weight: bold;
  margin-left: 20px;
}
.formfill {
  /* background-color: black; */
  /* opacity: 50%; */
  /* opacity: 0.9; */
  box-shadow: 1px 1px 10px 3px black;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  margin-top: 50px;
  /* height: 100%; */
  padding-top: 20px;
  padding-bottom: 20px;
}
.posttitle {
  background-color: black;
  color: white;
  border-radius: 4px;
  text-align: center;
  padding: 10px;
  width: 35%;
  margin-left: auto;
  margin-right: auto;
}
label {
  font-size: 20px;
  font-weight: bold;
}
select {
  width: 100%;
}
textarea {
  font-size: large;
  border-radius: 5px;
  border: 1px solid grey;
  background-color: white;
  opacity: 0.9;
}
.adimg {
  font-size: 15px;
}
.submit {
  background-color: rgb(0, 0, 36);
  color: white;
  border-radius: 4px;
  text-align: center;
  padding: 10px;
  width: 45%;
  margin-left: auto;
  margin-right: auto;
  font-size: 15px;
  align-items: center;
}
.posttext {
  font-size: large;
  background-color: rgb(0, 0, 36);
  color: white;
  border: none;
}
